
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/kratos

ORY_KRATOS_ADMIN_URL=http://localhost:4434
ORY_HYDRA_ADMIN_URL=http://localhost:4445

NEXT_PUBLIC_ORY_KRATOS_URL=http://localhost:4433

NEXT_PUBLIC_AUTHENTICATION_NODE_URL=http://localhost:3000
NEXT_PUBLIC_DASHBOARD_NODE_URL=http://localhost:4000
